<h1 class="center">Drink List!</h1>


<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<% if(drinks && drinks.length) { %>
  <div class="my-carousel">
    <% drinks.forEach(d => { %>
      <div>
        <img src="<%= d.image %>" alt="<%= d.name %>" class="responsive-img">
      </div>
    <% }) %>
  </div>

  <div class="row">
    <% drinks.forEach(d => { %>
      <div class="col s12 m4">
        <div class="card blue-grey lighten-2">
          <div class="card-content white-text">
            <span class="card-title"><%= d.name %></span>
            <p><%= d.description %></p>
            <hr>
            <p><strong>Glass:</strong> Put it in a <%= d.glass %> glass!</p>
          </div>
          <div class="card-action">
            <a href="/drinks/<%= d.id %>">Drink Details</a>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
<% } else { %>
  <p class="center blue-grey-text">No drinks have been added yet!</p>
<% } %>

<script>
  $(document).ready(function(){
    $('.my-carousel').slick({
      infinite: true,
      centerMode: true,
      centerPadding: '60px',
      slidesToShow: 1,
      fade: true,
      cssEase: 'linear'
    })

    const swapSlide = () => {
      $('.my-carousel').slick('slickNext')
      let time = Math.floor(Math.random() * 7000) + 1000
      console.log(time)
      setTimeout(swapSlide, time)
    }

    setTimeout(swapSlide, 1500)
  })
</script>
