<h1 class="center blue-text">
  Drink Details: <%= drink.name %>
</h1>

<p class="center"><%= drink.description %></p>

<div class="row">
  <div class="col s12 m6">
    <div class="card blue-grey lighten-1">
      <div class="card-content white-text">
        <span class="card-title">Directions</span>
        <p><%= drink.directions %></p>
        <p><strong>Glass:</strong> Put it in a <%= drink.glass %> glass!</p>
        <hr>
        <h4>Ingredients</h4>
        <ul>
          <% if (!drink.recipes || !drink.recipes.length) { %>
            <p>No recipe added yet!</p>
            <a href="/drinks/<%= drink.id %>/recipes/new" class="btn">
              <i class="material-icons add">add</i>
              Add Recipe
            </a>
          <% } %>
          <% drink.recipes.forEach(di => { %>
            <li><em><%= di.amount %></em> <%= di.ingredient.name %> (<%= di.ingredient.type %>)</li>
          <% }) %>
        </ul>
      </div>
    </div>
  </div>
</div>
